<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Este é um blog desenvolvido com NodeJS e EJS.</p>
            <hr class="my-4">
            <p>Blog que aborda diversos conceitos de NodeJS!</p>
            <a class="btn btn-primary btn-lg" href="https://github.com/VictorRevers" target="_blank" role="button">Repositório</a>
          </div>
        <% articles.forEach(article=>{%>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% })  %>    
            <div class="row">
                <div class="col col-12">
                    <a style="float:right" href="/articles/page/2">Next -></a>
                </div>
            </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>